
.header-wrapper {
    max-width: 1400px;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}
.thumnail-wrapper {
    width: 100%;
    max-width: 100%;
    height: 60px;
}

.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-thumbnail {
    width: 100%;
    height: 60px;
    object-fit: contain;
}
