.wrapper {
    max-width: 100%;
}

.wrapper-container {
    background-color: #efefef;
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}
