.top-bar {
    max-width: 100%;
    background-color: var(--primary);
    height: 40px;
}

.container {
    max-width: 1400px;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.item {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list {
    font-size: 1.4rem;
}

.list-name {
    color: var(--white);
    padding: 0 15px;
    border-left: 1px solid #fff;
}
